{% extends "admin/base_site.html" %}

{% block extrahead %}
{{ form.media }}

<style>
  .selector h2 {
    margin-bottom: 0;
  }
  .bookmarklet-grid {
    display:grid;
    grid-gap:0.625rem;
    grid-template-columns: max-content max-content;
    margin-bottom: 1rem;
  }
</style>
<script>
  django.jQuery(() => {
    django.jQuery('#id_created_by').val('{{ user.id }}')
  });
</script>
{% endblock extrahead %}
{% block content %}

<h1>Add Source</h1>
<form action="{% url 'bookmarklet_add' %}" method="post">
  {% csrf_token %}
  {{ form.created_by.as_hidden }}
  <fieldset class="module">
  <div class="bookmarklet-grid">
  {% for field in form %}
    {% if field.name != "organization" and field.name != "created_by" %}
    <label class="{% if field.field.required %}required{% endif %}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
    {{ field.errors }}
    <span></span>
    {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  {{ form.organization }}
  {{ form.organization.errors }}
  </fieldset>
  <div class="submit-row">
    <input type="submit" class="default" name="save_source" value="save" />
  </div>
</form>
{% endblock content %}
