{% extends "admin/change_list.html" %}

{% block extrahead %}
{{ block.super }}
<style>
    .bookmarklet {
      height: 25px;
    }
    .bookmarklet a {
      background: none repeat scroll 0% 0% #FFE;
      border: 1px dotted #AAA;
      color: #333;
      height: 25px;
      font-weight: bold;
      padding: 5px 10px;
    }
    .bookmarklet a:hover {
      color: #333;
    }
</style>
{% endblock extrahead %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin">Admin</a> ›
  Bookmarklet Setup
</div>
{% endblock %}

{% block content %}
<h1 class="heading-02">Set up for Source bookmarklet</h1>
<p>
  This bookmarklet allows you to create a source.
  <br>
  How it works: Drag the Save Link box below to your bookmarks bar. Then when you're on a page you want to save, click it and a box should appear.
</p>
<br>
<div class="bookmarklet"><a href="javascript:void((function(){var%20q=location.href;var%20t=document.getSelection&&document.getSelection().toString();t=t||document.title;void(open(`{% url 'bookmarklet' %}?&link_url=${encodeURIComponent(q)}&title=${encodeURIComponent(t)}+encodeURIComponent(t)`,'Source','toolbar=no,scrollbars=yes,width=995,height=575'))})())">Add  Source</a></div>
&uarr; Drag to your toolbar &uarr;
{% endblock content %}