<!-- A widget to display the article_mentions JSON field.  -->
{% for article, mention_amount in widget.article_mentions %}
    <div>
        <!-- For spacing alignment, only add a label after the first item  -->
        {% if forloop.counter != 1 %} <label></label> {% endif %}
        <div style="display:inline-block;">
            <!-- Add article column heading  -->
            {% if forloop.counter == 1 %}<div>Article</div>{% endif %}
            <input type="text" style="width:900px" value="{{ article }}" disabled />
        </div>
        <div style="display:inline-block;">
            <!-- Add mention amount heading  -->
            {% if forloop.counter == 1 %}<div>Mention Amount</div>{% endif %}
            <input type="text" style="width:100px; text-align: center;" value="{{ mention_amount }}" disabled />
        </div>
    </div>
{% endfor %}