{% extends 'admin/base.html' %}
{% load i18n static %}

{% block usertools %}
{% if has_permission %}
<div id="user-tools">
    {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
            {% endif %}
            {% if user.groups.first.name == 'Newsroom user' %}
                <a href="{% url 'download_sources' %}">Export My Sources<a> /
            {% endif %}
        {% endif %}
        {% if user.has_usable_password and test_env %}
            <a href="{% url 'admin:password_change' %}">Change password</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    {% endblock %}
</div>
{% endif %}
{% endblock %}
