{% extends 'admin/submit_line.html' %}

{% block submit-row %}

{{ block.super }}

  {# Edit/View buttons should only appear on Person model "change" page #}
  {% if opts.model_name.lower == 'person' and change %}
    {% if not '?edit=true' in request.get_full_path %}
      <input type="submit" value="Edit" name="_edit" class="default">
    {% elif '?edit=true' in request.get_full_path %}
      <input type="submit" value="View" name="_view" class="default">
    {% endif %}
  {% endif %}

{% endblock %}
