{% extends 'admin/change_form.html' %}
{% load static %}

{% block content_title %}
  {% if request.GET.edit %}
    <h1>Edit {{ opts.verbose_name }}</h1>
  {% else %}
    <h1>View {{ opts.verbose_name }}</h1>
  {% endif %}
{% endblock %}

{% block object-tools-items %}
  {{ block.super }}
  {% if original.created_by == request.user or not original.privacy_level == 'searchable' and original.created_by != request.user %}
    {% if not '?edit=true' in request.get_full_path %}
      <li>
        <a href="{% url 'admin:sources_person_change' object_id %}?edit=true" class="change-link"/>
          <img src="{% static 'img/admin/sources/icon-pencil.svg' %}"  width="11px" height="11px" >
          <span>Edit</span>
        </a>
      </li>
    {% elif '?edit=true' in request.get_full_path %}
      <li>
        <a href="{% url 'admin:sources_person_change' object_id %}" class="change-link">
          <span>View</span>
        </a>
      </li>
    {% endif %}
  {% endif %}
{% endblock %}

{% comment %}
  Keeping this empty removes the submit buttons
  at the top of the page
{% endcomment %}
{% block submit_buttons_top %}
  {% block submit-row %}

  {% endblock %}
{% endblock %}